.card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.lesson-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info {
  color: rgb(42, 143, 2);
}

.info span {
  color: black;
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
  }
}
